{% extends "base.html" %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ selectform.as_table }}
        </table>
        <input type="submit" value="Select">
    </form>
    {% if dependentform != "" %}
        <form method="post">
            {% csrf_token %}
            <table>
                {{ dependentform.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock content %}